[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./ramen/appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./main.py

# Name of the bot in-game
name = MaruChamp

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Ramen and Vitamins

# Short description of the bot
description = My first bot, made in Python

# Fun fact about the bot
fun_fact = Don't forget the vitamins, scurvy is no joke

# Link to github repository
github = https://github.com/ericmburgess/maruchamp

# Programming language
language = python
